**/*.1man
**/*.pm
autotools/*
aclocal.m4
configure
autotools/missing
autotools/install-sh
autotools/test-driver
*.spec
**Makefile
**Makefile.in
autom4te.cache/*
config.log
config.status
*.tar.gz
*~
#*
.#*

